<div class="container">
  <div class="row">
    <h1>Welcome to <%= @restaurant.name %>!</h1>
    <p>We are located at <%= @restaurant.address %>!!!!!!!!!</p>
    <p>YOU CAN CALL US AT <%= @restaurant.phone_number %></p>
    <p>WE SERVE EXCELLEMT <%= @restaurant.category.upcase %> FOOD!!!!</p>
  </div>
</div>
